

*{
    box-sizing: border-box;
}

#body{
    background-color: slategray;
    font:18px/24px;
}

#Wrapper{
    border: 1px solid $border-color;
    width: auto;
    height: auto;
    background: white;
    margin: 0 auto;
}



